*{padding:0;margin:0;border:0}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}
:active,:focus{outline:0}a:active,a:focus{outline:0}aside,footer,header,nav{display:block}body,html{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%}button,input,t6extarea{font-family:inherit}input::-ms-clear{display:none}button{cursor:pointer}button::-moz-focus-inner{padding:0;border:0}a,a:visited{text-decoration:none}a:hover{text-decoration:none}ul li{list-style:none}img{vertical-align:top}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}



.wrapper{

    max-width:1920px;margin:0 auto

}

.header{
    background:url(../img/2.jpg) no-repeat center top fixed;
    background-size:cover;
    min-height:100vh;
    text-align:center;
    width:100%;
    height:100%
}
    
.header__flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex-pack:distribute;
    justify-content:space-around
}

.header__h1{
    font-family:Lato,sans-serif;
    color:#fff;
    width:700;
    font-size:8vmin;
    text-align:center;
    padding:70px 10px 0 10px;
    line-height:120%
}

.header__h1__item{
    margin:40px 0 0 0;
    font-family:Lato,sans-serif;
    color:#fff;
    font-weight:700;
    font-size:8vmin;
    text-align:center;
    background-color:#520997ef;
    padding:10px 15px 10px 15px;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex
}

.header__text{
    font-family:Lato,sans-serif;
    color:#fff;
    font-weight:400;
    font-size:8vmin;
    text-align:center;
    padding:70px 10px 0 10px;
    line-height:120%
}

.header__block__btn__flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:distribute;
    justify-content:space-around

}

.header__block__btn{
    margin:50px 10px 0 10px
}

.header__block__btn__item{
    font-family:Lato,sans-serif;
    background-color:rgba(28,28,28,0);
    border:4px solid #8a2be2;
    padding:20px 60px 20px 60px;
    text-align:center;
    color:#fff;
    font-weight:400;
    font-size:5.5vmin;
    margin:0 10px 30px 10px;
    -webkit-transition:all .2s;
    transition:all .2s

}

.header__block__btn__item:hover{
    border:4px solid #fff;
    background-color:#8a2be2;
    -webkit-transition:all .2s;
    transition:all .2s
}
    
@media (max-width:598px){
    .header__block__btn__flex{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
}
/* --------------------- */



 .portfolio__h1{
    font-family:Lato,sans-serif;
    font-size:50px;
    color:#32243f;
       font-weight:700;
    padding:100px 0 50px 0;
    text-align:center
}

/* .portfolio__galeri{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    height:20rem;
    gap:1rem
}
    
.portfolio__galeri__img{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    border-radius:1rem;
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto 100%;
    -webkit-transition:all .8s cubic-bezier(.25,.4,.45,1.4);
    transition:all .8s cubic-bezier(.25,.4,.45,1.4);
    width:100%;
    background:url(../img/10.png) no-repeat
}

.portfolio__galeri__img2{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    border-radius:1rem;
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto 100%;
    -webkit-transition:all .8s cubic-bezier(.25,.4,.45,1.4);
    transition:all .8s cubic-bezier(.25,.4,.45,1.4);
    width:100%;
    background:url(../img/11.png) no-repeat
}

.portfolio__galeri__img3{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    border-radius:1rem;
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto 100%;
    -webkit-transition:all .8s cubic-bezier(.25,.4,.45,1.4);
    transition:all .8s cubic-bezier(.25,.4,.45,1.4);
    width:100%;
    background:url(../img/12.png) no-repeat

}

.portfolio__galeri__img4{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    border-radius:1rem;
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto 100%;
    -webkit-transition:all .8s cubic-bezier(.25,.4,.45,1.4);
    transition:all .8s cubic-bezier(.25,.4,.45,1.4);
    width:100%;
    background:url(../img/13.png) no-repeat

}

.portfolio__galeri__img5{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    border-radius:1rem;
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto 100%;
    -webkit-transition:all .8s cubic-bezier(.25,.4,.45,1.4);
    transition:all .8s cubic-bezier(.25,.4,.45,1.4);
    width:100%;
    background:url(../img/14.png) no-repeat
}

.portfolio__galeri__img:hover{
    -webkit-box-flex:5;
    -ms-flex:5;
    flex:5

}

.portfolio__galeri__img2:hover{
    -webkit-box-flex:5;
    -ms-flex:5;
    flex:5

}

.portfolio__galeri__img3:hover{
    -webkit-box-flex:5;
    -ms-flex:5;
    flex:5
}
    
.portfolio__galeri__img4:hover{
    -webkit-box-flex:5;
    -ms-flex:5;
    flex:5
}

.portfolio__galeri__img5:hover{
    -webkit-box-flex:5;
    -ms-flex:5;
    flex:5
}

.portfolio__flex{
    padding:50px 20px 100px 20px
}

.portfolio__galeri__img_min{
    display:none
}

@media (max-width:1249px){
    .portfolio__flex{
        padding:50px 20px 100px 20px
    }
    .portfolio__galeri{
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        width:100%;
        height:100%
    }
    .portfolio__galeri__img{
        display:none
    }.portfolio__galeri__img2{
        display:none
    }
    .portfolio__galeri__img3{
        display:none
    }
    .portfolio__galeri__img4{
        display:none
    }
    .portfolio__galeri__img5{
        display:none
    }
    .portfolio__galeri__img_min{
        display:block;
        width:100%;
        border-radius:1rem;
        height:100%;
        padding:0 0 50px 0;
        -webkit-box-shadow:0 2.07544px 2.21381px rgba(46,60,80,.0196802),0 4.98758px 5.32008px rgba(46,60,80,.0282725),0 9.39116px 10.0172px rgba(46,60,80,.035),0 16.7522px 17.869px rgba(46,60,80,.0417275),0 31.3332px 33.4221px rgba(46,60,80,.0503198),0 75px 80px rgba(46,60,80,.07);
        box-shadow:0 2.07544px 2.21381px rgba(46,60,80,.0196802),0 4.98758px 5.32008px rgba(46,60,80,.0282725),0 9.39116px 10.0172px rgba(46,60,80,.035),0 16.7522px 17.869px rgba(46,60,80,.0417275),0 31.3332px 33.4221px rgba(46,60,80,.0503198),0 75px 80px rgba(46,60,80,.07)
    }
    .portfolio__galeri__img_min__pad{
        margin:0 0 100px 0
    }
} */

/* -------------------------------- */ 

.contact{
    background:url(../img/1.png) no-repeat center top fixed;
    background-size:cover;
    text-align:center;
    width:100%;
    height:100%;
    margin:200px 0 0 0;
    padding:100px 0 0 0
}

.contact__flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    
    
}

.contact__h1{
    color:#fff;font-weight:700;
    font-family:Lato,sans-serif;
    font-size:8vmin;
    padding:0 0 20px 0}

.contact__h2{
    color:#fff;
    font-weight:700;
    font-family:Lato,sans-serif;
    text-align:center;
    font-size:8vmin;
    background-color:#892be2c2;
    padding:10px 10px 10px 10px;
    margin:0 0 20px 0
}

.contact__contact a{
    color:#fff;
    font-size:8vmin;
    font-weight:400;
    font-family:Lato,sans-serif;
    padding: 30px 10px 0px 10px;
}

.contact__contact a:hover{
    color:#a870dc
}

.contact__contact{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    flex-wrap: wrap;
}



/* *---------------------------- */


.footer__h1{
    color:#fff;
    font-size:14px;
    padding:20px 0 20px 0;
    margin:200px 0 0 0;
    background-color:rgba(46,60,80,.5196802)
}



